<ul>
  <ng-container
    *ngFor="let node of table"
    [ngTemplateOutlet]="treeNode"
    [ngTemplateOutletContext]="{ $implicit: node }"
  >
  </ng-container>
</ul>

<ng-template #treeNode let-entity>
  <li>{{ entity?.label }}</li>

  <ul>
    <li *ngFor="let entity of entity?.properties">{{ entity.label }}</li>
  </ul>

  <ng-container *ngIf="entity?.children">
    <ul>
      <ng-container
        *ngFor="let child of entity?.children"
        [ngTemplateOutlet]="treeNode"
        [ngTemplateOutletContext]="{ $implicit: child }"
      >
      </ng-container>
    </ul>
  </ng-container>
</ng-template>



<!-- <p-tree
  class="md:w-20rem w-full"
  containerStyleClass="w-full"
  placeholder="Select Item"
  [value]="table"
  scrollHeight="300px"
  [loading]="loading"
>
</p-tree> -->
